on:
  push:
    branches:
      - main

permissions:
  contents: write

# TODO: Might need to add concurrency once automated version bump is added.
concurrency:
  group: ${{ github.ref_name }}-release
  cancel-in-progress: true

jobs:
  metadata:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.meta.outputs.version }}
      git_tag: ${{ steps.meta.outputs.git_tag }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Pipx Install Action
        uses: threeal/pipx-install-action@v1
        with:
          packages: uv
      - name: Export Metadata
        id: meta
        run: |
          echo "version=$(uv version)" >> $GITHUB_OUTPUT
          echo "git_tag=v$(uv version)" >> $GITHUB_OUTPUT

  build-binaries:
    # TODO: Switch to matrix strategy for other machines
    runs-on: ubuntu-latest

    needs:
      - metadata

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Pipx Install Action
        uses: threeal/pipx-install-action@v1
        with:
          packages: uv
      - name: Prepare VirtualEnv cache
        id: pycache
        uses: actions/cache@v5
        with:
          key: python-${{ hashFiles('.python-version') }}-venv-${{ hashFiles('uv.lock') }}
          restore-keys: |
            python-${{ hashFiles('.python-version') }}-venv-
          path: .venv
      - name: Install dependencies into VirtualEnv
        if: steps.pycache.outputs.cache-hit != 'true'
        run: uv sync --locked --no-dev
      - name: Run PyInstaller
        run: |
          uv run pyinstaller .venv/bin/mailchimp-image-processor
          mv dist/mailchimp-image-processor/mailchimp-image-processor dist/mailchimp-image-processor/mailchimp-image-processor-${{ needs.metadata.outputs.version }}-${{ runner.os }}-${{ runner.arch }}
      - name: Export Binary
        uses: actions/upload-artifact@v6
        with:
          path: dist/mailchimp-image-processor/*

  tag-and-release:
    runs-on: ubuntu-latest

    needs:
      - metadata
      - build-binaries

    steps:
      - name: Download Binaries
        uses: actions/download-artifact@v6
        with:
          path: dist/mailchimp-image-processor
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          name: Version ${{ steps.meta.outputs.version }}
          tag: ${{ steps.meta.outputs.tag }}
          commit: ${{ github.sha }}
          generateReleaseNotes: true
          artifacts: dist/mailchimp-image-processor/mailchimp-image-processor*
          artifactErrorsFailBuild: true
          replacesArtifacts: true
  # TODO: Do a version bump

